.wrapper {
    --search-height: 46px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}


.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    display: flex;
    align-items: flex-end;
    color: #161823;
    font-size: 2.4rem;
    padding: 0 12px;
    background-color: transparent;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -6px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 1.4rem;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    font-family: 'TikTokFont', sans-serif;
}

.more-btn {
    font-size: 20px;
    background-color: transparent;
    margin-left: 24px;
    padding: 4px 10px;
    cursor: pointer;
}

.user-avatar {
    margin-left: 20px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
